<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://grupofuncioneslunes2024amm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5c301b2d-6dfc-494e-aa63-268a5468b3b1/resourcegroups/rg-lunes/providers/Microsoft.Web/sites/grupofuncioneslunes2024AMM</ResourceId>
    <UserName>$grupofuncioneslunes2024AMM</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://grupofuncioneslunes2024amm.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>