<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5c301b2d-6dfc-494e-aa63-268a5468b3b1/resourcegroups/rg-champions/providers/Microsoft.Web/sites/ApiEmpleadosMultiplesRoutes2024Ari</ResourceId>
    <ResourceGroup>rg-champions</ResourceGroup>
    <ApiResourceId>/subscriptions/5c301b2d-6dfc-494e-aa63-268a5468b3b1/resourceGroups/rg-champions/providers/Microsoft.ApiManagement/service/apimanagementamm/apis/empleados</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiempleadosmultiplesroutes2024ari.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0f6d3349-dfce-4084-b56a-16bd50144d63</ProjectGuid>
    <MSDeployServiceURL>apiempleadosmultiplesroutes2024ari.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiEmpleadosMultiplesRoutes2024Ari</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ApiEmpleadosMultiplesRoutes2024Ari</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>