<h1 style="color:darkmagenta">
    Create container
</h1>

<form method="post">
    <label>Container name:</label>
    <input type="text" name="containername" class="form-control" />
    <button class="btn btn-dark">
        Create
    </button>
</form>